<section id="main-content">
    <section id="userViewModel" class="wrapper">
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <a class="task-thumb" href="#">
                            <img class="dash_pic"/>
                        </a>
                        <div  data-bind="foreach: getUser" class="task-thumb-details">
                            <h1><a href="#" data-bind="text: first_name + last_name"></a></h1>
                        </div>
                    </div>
                    <table class="table table-hover personal-task">
                        <tbody>
                            <tr>
                                <td>
                                    <i class=" icon-file"></i>
                                </td>
                                <td>New Affiliates</td>
                                <td data-bind="text: leng"> </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="icon-refresh"></i>
                                </td>
                                <td>Request Pending</td>
                                <td> 14</td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="icon-file"></i>
                                </td>
                                <td >Clients endowments available to</td>
                                <td data-bind="text: lenght"> </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
            <div class="col-lg-8">
                <section class="panel">
                    <header class="panel-heading">
                        Affiliates
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table  cellpadding="0" cellspacing="0" border="0" 
                                    class="table table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width: 25%">Affiliates Name</th>
                                        <th style="width: 25%">Affiliates User</th>
                                        <th style="width: 25%">Affiliates Duration</th>
                                        <th style="width: 10%; text-align: center;">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% @project.each do |project| %>
                                    <tr >
                                        <td><%= project.title %></td>
                                        <td><p><%= project&.authors&.last.first_name + ' ' + project&.authors&.last.last_name if project.authors.present?%></p></td>
                                        <td><%= project.created_at.strftime("%d-%m-%Y") %></td>
                                        <td  style="text-align: center;"><a href="/projects/<%= project.id %>" class="btn btn-info btn-xs">&puncsp;<i class="icon-info"></i>&puncsp;</a></td>
                                    </tr>
                                <% end if @project.present?%>
                                </tbody>
                            </table>
                         <div class="digg_pagination">
                           <%= will_paginate @project  %>
                         </div>   
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript">
 
</script>