!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "upgrade-insecure-requests", "http-equiv" => "Content-Security-Policy"}/
    %title ElmhurstBackend
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "//fonts.googleapis.com/css?family=Roboto+Slab", :rel => "stylesheet", :type => "text/css"}/
    = javascript_include_tag 'application','data-turbolinks-track' => true
    = javascript_include_tag 'simple-excel.js'
    = javascript_include_tag 'google-spreadsheet.js'
    = csrf_meta_tags
    = alertify_flash(wait: 20)


  %body
    = render 'layouts/header'
    .container{ :style => "width: 100%" }
      = yield
